[submodule "aljorge2.github.io"]
	path = aljorge2.github.io
	url = git@github.com:aljorge2/aljorge2.github.io.git
	branch = main
[submodule "public"]
	path = public
	url = git@github.com:aljorge2/aljorge2.github.io.git
	branch = main
